/* BUTTON STYLES */

.button {
  border-radius: 0.375rem;
  transition: filter 0.2s;
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.button--icon>i {
  font-size: var(--fsz-lg);
}

.button--md {
  font-size: var(--fsz-md);
  padding: 0.75rem 1.5rem;
}

.button--sm {
  font-size: var(--fsz-small);
  padding: 0.5rem;
}

.button--lg {
  font-size: var(--fsz-md);
  padding: 0.875rem 2rem;
}

.button--xl {
  font-size: var(--fsz-md);
  padding: 1rem 2rem;
  width: 100%;
}

.button--success {
  color: var(--white);
  background: var(--green);
  border: 0 var(--green);
}

.button--danger {
  color: var(--white);
  background: var(--red);
  border: 0 var(--red);
}

.button--warning {
  color: var(--white);
  background: var(--yellow);
  border: 0 var(--yellow);
}

.button:hover {
  filter: brightness(1.2);
}

.button--success--outline {
  color: var(--green-light);
  background: transparent;
  border: 1px solid var(--green-light);
  transition: background-color 0.2s, color 0.2s;
}

.button--danger--outline {
  color: var(--red-dark);
  background: transparent;
  border: 1px solid var(--red-dark);
  transition: background-color 0.2s, color 0.2s;
}

.button--warning--outline {
  color: var(--yellow-dark);
  background: transparent;
  border: 1px solid var(--yellow-dark);
  transition: background-color 0.2s, color 0.2s;
}

.button--success--outline:hover {
  background-color: var(--green);
  color: var(--white);
}

.button--danger--outline:hover {
  background-color: var(--red);
  color: var(--white);
}

.button--warning--outline:hover {
  background-color: var(--yellow);
  color: var(--white);
}

/* INPUT STYLES */

.input {
  border-radius: 0.375rem;
  border: 1px solid var(--gray-900);
  background: var(--gray-900);
  width: 100%;
  transition: border-color 0.2s;
  color: var(--gray-500);
}

.input:focus {
  outline: none;
}

.input--success:focus {
  border-color: var(--green);
}

.input--danger:focus {
  border-color: var(--red);
}

.input--error {
  border-color: var(--red);
}

.input--lg {
  font-size: var(--fsz-md);
  padding: 1rem;
}

.input--md {
  font-size: var(--fsz-small);
  padding: 0.875rem;
}

.error--message {
  font-size: 0.75rem;
  color: var(--red);
  margin-top: 0.375rem;
}

/* RADIO BUTTON STYLES */
.radio__buttons--item {
  display: flex;
  flex: 1;
  padding: 2rem;
  background: var(--gray-700);
  border-radius: 0.375rem;
  cursor: pointer;
  position: relative;
  width: 100%;
  transition: filter 0.2s ease-in-out;
}

.radio__buttons--item:hover {
  filter: brightness(1.2);
}

.radio__buttons--item.active {
  background: var(--green-light);
}

.radio__buttons--item.active .radio__button--label,
.radio__buttons--item.active .radio__button--icon {
  color: var(--white);
}

.radio--input {
  width: 100%;
  height: 100%;
  appearance: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.radio__button--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.radio__button--icon {
  font-size: var(--fsz-xlg);
}

.radio__button--label {
  font-size: var(--fsz-md);
  font-weight: 400;
  color: var(--gray-400);
}

/* MODAL STYLES */

.main__container--modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: modalFadeIn 0.3s ease-out;
}

.modal--content {
  background: var(--gray-800);
  width: 100%;
  margin: auto 1rem;
  padding: 2.5rem;
  border-radius: 0.375rem;
  position: relative;
}

.modal--content--lg {
  max-width: 800px;
}

.modal--content--sm {
  max-width: 400px;
}

.modal--content--md {
  max-width: 600px;
}

.modal__content--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__content__header--icon {
  font-size: var(--fsz-xlg);
  color: var(--gray-500);
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.modal__content__header--icon:hover {
  color: var(--gray-300);
}

.modal__content__header--title {
  font-size: var(--fsz-xlg);
  font-weight: 700;
  color: var(--gray-300);
}

/* ANIMATION STYLES */

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* RESPONSIVE MOBILE STYLES */

@media screen and (max-width: 768px) {
  .button--lg {
    padding: 0.75rem 1.5rem;
  }
}